{% extends "layout.html" %}

{% block title %}
    Urgent
{% endblock %}

{% block main %}
<style>
    body  {
      background-image: url("https://cdn.wallpapersafari.com/7/71/FRDyLv.jpg");
      background-size: 100%;
      background-position-y: 0px;
    }
</style>
<strong style = "color:white; position: relative; top: -110px; font-size: 45px" >Today</strong>
    <div class="row">
    <div class="column">
        <strong style = "color:white; position:relative; top:-130px; font-size: 40px">Assignments</strong>
            <table style = "position:relative; top:-130px;" class="table table-striped">
                <thead>
                    <tr style="color:white;">
                        <th><img src="static/images/checkMark.png" alt="Checkmark" width="20" height="20"></th>
                        <th>Assignment</th>
                        <th>Course</th>
                        <th>Deadline</th>
                        <th>Important</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for assignments in assignments %}
                    <tr style="color:white;  background-color:rgba(137, 133, 133, 0.55);">
                        <td>
                            <form id="completion" action="/urgent" method="post">
                                <input autocomplete="off" type="checkbox" id="assignment_id" name="assignment_id" value="{{ assignments.id }}" onclick="submit()" required>
                            </form>
                            <!-- Source: https://www.quora.com/How-can-I-submit-two-forms-with-one-button -->
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                            <script> 
                            function submit() {
                             $(document).ready(function () { 
                               $("#completion").submit(); 
                             });
                             }
                            </script>
                        </td>
                        <td>{{ assignments.title }}</td>
                        <td>{{ assignments.course }}</td>
                        <td>{{ assignments.date }} @ {{ assignments.time }}</td>
                        <td>{{ assignments.importance }}</td>
                        <td>{{ assignments.notes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- <img src="https://printer.yale.edu/sites/default/files/files/iPhone18.jpg" style="width:80px; height:144px; position:relative; top:-380px;" class="imagecenter"></img> -->
        </div>
        
        <div class="column">
            <strong style = "color:white; position:relative; top:-130px; font-size: 40px">Events</strong>
            <table style = "position:relative; top:-130px" class="table table-striped">
                <thead>
                    <tr style="color:white;">
                        <th><img src="static/images/checkMark.png" alt="Checkmark" width="20" height="20"></th>
                        <th>Event</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                        <th>Important</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for events in events %}
                    <tr style="color:white; background-color:rgba(137, 133, 133, 0.55);">
                        <td>
                            <form id="completion" action="/urgent" method="post">
                                <input autocomplete="off" type="checkbox" id="event_id" name="event_id" value="{{ events.event_id }}" onclick="submit()" required>
                            </form>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                            <script> 
                            function submit() {
                             $(document).ready(function () { 
                               $("#completion").submit(); 
                             });
                             }
                            </script>
                        </td>
                        <td>{{ events.title }}</td>
                        <td>{{ events.start_date }} @ {{ events.start_time }}</td>
                        <td>{{ events.end_date }} @ {{ events.end_time }}</td>
                        <td>{{ events.location }}</td>
                        <td>{{ events.importance }}</td>
                        <td>{{ events.notes }}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <img src="https://printer.yale.edu/sites/default/files/files/iPhone18.jpg" style="width:80px; height:144px; position:relative; top:-380px;" class="imagecenter"></img> -->
        </div>
    </div>
{% endblock %}
