{% extends "layout.html" %}

{% block title %}
    Add Event
{% endblock %}

{% block main %}
<!-- sets the background for the event form - this is the same background used on other pages when user is logged in -->
<style>
    body  {
      background: url("static/images/yalebackground.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
</style>
<!-- the following form includes all the options of what user can input when putting in an event  -->
<form style="color:white; position: relative; bottom: 20px" action="/eventsform" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Event Name" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="location" name="location" placeholder="Location" type="text" required>
    </div>
    <div class="mb-3">
        <p>Is this event important?</p>
        <input type="radio" id="importance" name="importance" value="YES">
        <label for="yes">YES</label><br>
        <input type="radio" id="importance" name="importance" value="NO">
        <label for="no">NO</label><br>
    <div>
    <div>
        <label>Start Date:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="start_date" name="start_date" type="date" required>
        <label style="position:relative; left:20px" >Start Time: (optional)</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="start_time" name="start_time" type="time">
    </div>
    <div>
        <label>End Date:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="end_date" name="end_date" type="date" required>
        <label>End Time: (optional)</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="end_time" name="end_time" type="time">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="notes" name="notes" placeholder="Notes" type="Text">
    </div>
    <button class="btn btn-primary" type="submit">Add Event</button>
    <!-- Once the user clicks Add Event it will add the event to the database -->
</form>
{% endblock %}