{% extends "layout.html" %}

{% block title %}
    Add Event
{% endblock %}

{% block main %}
<style>
    body  {
        background-image: url("/static/images/backgroundBDBrain.jpeg");
      background-size: 100%;
      background-position-y: 0px;
    }
</style>
<form action="/eventsform" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Event Name" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="location" name="location" placeholder="Location" type="text" required>
    </div>
    <div class="mb-3">
        <p>Is this event important?</p>
        <input type="radio" id="importance" name="importance" value="YES">
        <label for="yes">YES</label><br>
        <input type="radio" id="importance" name="importance" value="NO">
        <label for="no">NO</label><br>
    </div>
    <div>
        <label>Start Date:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="start_date" name="start_date" type="date" required>
        <label>Start Time: (optional)</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="start_time" name="start_time" type="time">
    </div>
    <div>
        <label>End Date:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="end_date" name="end_date" type="date" required>
        <label>End Time: (optional)</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="end_time" name="end_time" type="time">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="notes" name="notes" placeholder="Notes" type="Text">
    </div>
    <button class="btn btn-primary" type="submit">Add Event</button>
</form>
{% endblock %}