<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Allows for the usage of bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>

      <nav class="transparent navbar navbar-expand-md justify-content-center navbar-dark">
          <div class="collapse navbar-collapse" id="navbar">
              {% if session["user_id"] %}
                  <ul class="navbar-nav me-auto mt-2">
                    <li style="font-size: 18px" class="nav-item"><a class="nav-link" href="/today">Bulldogbrain</a></li>
                    <li style="font-size: 18px" class="nav-item"><a class="nav-link" href="/list">List</a></li>  
                    <li style="font-size: 18px" class="nav-item"><a class="nav-link" href="/archive">Archive</a></li>
                  </ul>
                  <ul class="navbar-nav ms-auto mt-2">
                      <li style="font-size: 18px" class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                  </ul>
                  
              {% else %}
                  <ul class="navbar-nav ms-auto mt-2">
                    <!-- This will only be done if we want a page that explains what the website does, but it might
                    not be necessary, as our page is already self-explanatory. -->
                    <!-- <li class="nav-item"><a class="nav-link" href="/homepage">BulldogBrain</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                  </ul>
              {% endif %}
          </div>

    </nav>

    <div>
        {% if session["user_id"] %}
        <div class="dropdown">
            <button class="dropbtn">Add+</button>
            <div class="dropdown-content">
              <a href="/assignmentsform">Assignment</a>
              <a href="/eventsform">Event</a>
              <a href="/makingClasses">Course</a>
            </div>
          </div>

        {% endif %}
    </div>



        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
