{% extends "layout.html" %}

{% block title %}
    List View
{% endblock %}

{% block main %}
<style>
    body  {
      background: url("static/images/yalebackground.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
</style>
<strong style = "position:relative; top:-110px; font-size: 50px; color:white;">List</strong>
<div class="row">
<div class="column">
    <strong style = "position:relative; top:-130px; font-size: 40px; color:white;">Assignments</strong>
            <table style = "position:relative; top:-130px" class="table table-striped">
            <thead>
                <tr style="color:white;">
                    <!-- will display the headers for the rows of the information that is needed  -->
                    <th><img src="static/images/checkMark.png" alt="Checkmark" width="20" height="20"></th>
                    <th>Assignment</th>
                    <th>Course</th>
                    <th>Deadline</th>
                    <th>Important</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for assignments in assignments %}

                <tr style="color:white;  background-color:rgba(137, 133, 133, 0.55);"">
                    <td>
                        <form id="completion" action="/list" method="post">
                            <input autocomplete="off" type="checkbox" id="assignment_id" name="assignment_id" value="{{ assignments.id }}" onclick="submit()" required>
                        </form>
                        <!-- Source: https://www.quora.com/How-can-I-submit-two-forms-with-one-button -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                        <script> 
                        function submit() {
                         $(document).ready(function () { 
                           $("#completion").submit(); 
                         });
                         }
                        </script>
                    </td>
                    <td>{{ assignments.title }}</td>
                    <td>{{ assignments.course }}</td>
                    <td>{{ assignments.date }} @ {{ assignments.time }}</td>
                    <td>{{ assignments.importance }}</td>
                    <td>{{ assignments.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <strong style = "position:relative; top:-130px; font-size: 40px; color:white; ">Events</strong>
            <table style = "position:relative; top:-130px" class="table table-striped">
            <thead>
                <tr style="color:white;">
                    <th><img src="static/images/checkMark.png" alt="Checkmark" width="20" height="20"></th>
                    <th>Event</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Location</th>
                    <th>Important</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for events in events %}
                <tr style="color:white;  background-color:rgba(137, 133, 133, 0.55);">
                    <td>
                        <form id="completion" action="/list" method="post">
                            <input autocomplete="off" type="checkbox" id="event_id" name="event_id" value="{{ events.event_id }}" onclick="submit()" required>
                        </form>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                        <script> 
                        function submit() {
                         $(document).ready(function () { 
                           $("#completion").submit(); 
                         });
                         }
                        </script>
                    </td>
                    <td>{{ events.title }}</td>
                    <td>{{ events.start_date }} @ {{ events.start_time }}</td>
                    <td>{{ events.end_date }} @ {{ events.end_time }}</td>
                    <td>{{ events.location }}</td>
                    <td>{{ events.importance }}</td>
                    <td>{{ events.notes }}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}