{% extends "layout.html" %}

{% block title %}
    List View
{% endblock %}

{% block main %}

<form action="/list" method="post">
    <input autocomplete="off" class="form-control mx-auto w-auto" id="id" name="id" placeholder="#id" type="int" required>
    <input type="radio" id="assignment" name="type" value="assignment">
        <label for="type">Assignment</label>
    <input type="radio" id="type" name="type" value="event">
    <label for="type">Event</label>
    <button class="btn btn-primary" type="submit">Completed!</button>
</form>
<div>
    <!-- THIS WORKS TOO!!!
    <form action="/list" method="post">
        <p>Insert assignment or event # to remove or cross off:</p>
    
        <input autocomplete="off" class="form-control mx-auto w-auto" id="id" name="id" placeholder="#" type="int" required>
        <button class="btn btn-primary" name="type" type="submit" value="assignment">Cross off Assignment</button>
        <button class="btn btn-primary" name="type" type="submit" value="event">Cross off Event</button>
    </form>
    <br> -->

    <!-- <div>
        <form action="/list" method="post">
            <p>Insert assignment # to remove or cross off:</p>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="assignment_id" name="assignment_id" placeholder="Assignment #" type="int" required>
            <button class="btn btn-primary" type="submit">Cross off Assignment</button>
            <button class="btn btn-primary" type="submit">Delete Assignment</button>
        </form>
    </div> -->
</div>
<div class="row">
<div class="column">
    <h2 style = "position:relative;top:-90px">Assignments</h2>
        <table style = "position:relative;top:-90px" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Assignment</th>
                    <th>Course</th>
                    <th>Deadline</th>
                    <th>Important</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for assignments in assignments %}
                <tr>
                    <td>{{ assignments.id }}</td>
                    <td>{{ assignments.title }}</td>
                    <td>{{ assignments.course }}</td>
                    <td>{{ assignments.date }} @ {{ assignments.time }}</td>
                    <td>{{ assignments.importance }}</td>
                    <td>{{ assignments.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <h2 style = "position:relative;top:-90px">Events</h2>
        <table style = "position:relative;top:-90px" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Location</th>
                    <th>Important</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for events in events %}
                <tr>
                    <td>{{ events.event_id }}</td>
                    <td>{{ events.title }}</td>
                    <td>{{ events.start_date }} @ {{ events.start_time }}</td>
                    <td>{{ events.end_date }} @ {{ events.end_time }}</td>
                    <td>{{ events.location }}</td>
                    <td>{{ events.importance }}</td>
                    <td>{{ events.notes }}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}