{% extends "layout.html" %}

{% block title %}
    Add Assignment
{% endblock %}

{% block main %}
<style>
    body  {
      background: url("static/images/yalebackground.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
</style>
    <form action="/makingClasses" method="post">
        <!-- <strong style="font-size:55px;position:relative;top:-40px; color:white">ADD COURSE</strong>
        <br> -->
        <div class="mb-3">
            <input style="height:60px;width:300px;font-size:25px;" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Course Name" type="text" required>
        </div>
        <br>
        <!-- <div class="mb-3">
            <span style = "transform: scale(2)" class="dot1"></span>
            <span style = "transform: scale(2)" class="dot2"></span>
            <span style = "transform: scale(2)" class="dot3"></span>
            <span style = "transform: scale(2)" class="dot4"></span>
            <span style = "transform: scale(2)" class="dot5"></span>
            <span style = "transform: scale(2)" class="dot6"></span>
            <br>
            <input style = "transform: scale(2)" class="courseColor1" type="radio" id="color" name="color" value="red" required>
            <label for="red"></label>
            <input style = "transform: scale(2)" class="courseColor2" type="radio" id="color" name="color" value="blue">
            <label for="blue"></label>
            <input style = "transform: scale(2)"class="courseColor3" type="radio" id="color" name="color" value="green">
            <label for="green"></label>
            <input style = "transform: scale(2)" class="courseColor4" type="radio" id="color" name="color" value="purple">
            <label for="purple"></label>
            <input style = "transform: scale(2)" class="courseColor5" type="radio" id="color" name="color" value="lightcoral">
            <label for="lightcoral"></label>
            <input style = "transform: scale(2)" class="courseColor6" type="radio" id="color" name="color" value="orange">
            <label for="orange"></label>
            <br>
            <br>
        </div> -->
        <br>
        <button style="height:80px;width:280px" class="btn btn-primary" type="submit">Add Class</button>
    </form>
{% endblock %}
