{% extends "layout.html" %}

{% block title %}
    Add Assignment
{% endblock %}

{% block main %}
<style>
    body  {
      background: url("static/images/yalebackground.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
</style>
    <form action="/makingClasses" method="post">
        <div class="mb-3">
            <input style="height:60px;width:300px;font-size:25px;" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Course Name" type="text" required>
        </div>
        <br>
        <button style="height:80px;width:280px" class="btn btn-primary" type="submit">Add Class</button>
    </form>
{% endblock %}
