{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <style>
    body  {
        background-image: url("https://forhumanity.yale.edu/sites/default/files/styles/post_hero/public/2021/images/Yale_Yburst_hero.jpg?h=c33ae526&itok=VW5aTcP6");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Retyped Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}